h3 {
  font-size: 12px;
}
h2 {
  margin: 0;
}

body {
  background-color: #c9c9c9;
  background-image: url('images/pattern.png');
  background-size: 100px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bookcover {
  position: relative;
  width: 1000px;
  height: 650px;
  border-radius: 15px;
  margin: 100px 70px;
  background-color: #b4d0da;
  border: solid navy 0.5mm;
  display: flex;
}
.bookdot {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #b4d0da;
  width: 970px;
  height: 620px;
  border-radius: 15px;
  border: dashed white 0.8mm;
  display: flex;
}
.page {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #eeeeee;
  width: 940px;
  height: 590px;
  border-radius: 15px;
  display: flex;
}

/* page content */
.left {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 5px 15px;
  margin-bottom: 10px;
}
.today {
  display: flex;
  flex: 0.1;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 0 5px;
  padding: 0 5px;
  text-align: center;
}
.todayColor {
  padding-top: 10px;
  font-weight: bold;
  font-size: 12px;
}
.todayColor span:nth-child(1) {
  color: orangered;
}

.intro {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  margin: 5px;
}
/* center */
.center {
  display: flex;
  flex: 0.6;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 5px 10px;
  margin-right: 0;
  margin-bottom: 10px;
}
.top {
  display: flex;
  flex: 0.05;
  flex-direction: row;
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 5px;
  padding: 5px;
  padding-bottom: 0;
  text-align: center;
}
.title {
  display: flex;
  flex: 0.6;
  flex-direction: row;
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 0;
  padding: 0 5px;
  text-align: center;
}
.tears {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
.address {
  display: flex;
  flex: 0.4;
  flex-direction: row-reverse;
  background-color: #eeeeee;
  border-radius: 15px;
  margin: 0 5px;
  padding: 0 5px;
  vertical-align: bottom;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: white;
  border-radius: 15px;
  margin: 5px;
  margin-top: 0;
  padding: 5px;
  text-align: center;
}
/* right */
.right {
  display: flex;
  flex: 0.2;
  flex-direction: column;
  background-color: black;
  border-radius: 15px;
  margin: 5px 15px;
  margin-left: 0;
  margin-bottom: 10px;
}
